.redColor{
    background-color: red;
}

.greenColor{
    background-color: green;
}

.blueColor{
    background-color: blue;
}

.blackColor{
    background-color: black;
}

.greyColor{
    background-color: grey;
}